<nav class="monitor-menu">
  <a href="https://determined-integrity-production-e27a.up.railway.app/"
     class="{% if active_menu == 'naver_price' %}active{% endif %}">
    네이버 쇼핑 가격 모니터링
  </a>

  <a href="https://zonal-harmony-production-2367.up.railway.app/"
     class="{% if active_menu == 'blog' %}active{% endif %}">
    네이버 모바일 블로그탭 순위 모니터링
  </a>

  <a href="https://spectacular-rebirth-production-b679.up.railway.app/"
     class="{% if active_menu == 'coupang_rank' %}active{% endif %}">
    쿠팡 검색순위 모니터링
  </a>

  <a href="https://responsible-purpose-production-208e.up.railway.app/"
     class="{% if active_menu == 'coupang_price' %}active{% endif %}">
    쿠팡 판매가 추세 모니터링
  </a>

  <a href="https://believable-exploration-production-940e.up.railway.app/"
     class="{% if active_menu == 'address' %}active{% endif %}">
    주소 검증 분석
  </a>  
